<div class="form_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="form_field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
<%= form.submit "Sign In" %>
