<div class="form_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="form_field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>
<div class="form_field">
  <%= form.label :evolution %>
  <%= form.collection_select :evolution, Race::EVOLUTION, :to_s, :to_s, include_blank: true %>
</div>
<div class="form_button">
  <%= form.submit "Submit" %>
</div>
