<div class="form_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="form_field">
  <%= form.label :image, "Image (200x200)" %>
  <%= form.file_field :image %>
</div>
<div class="form_field">
  <%= form.label :race %>
  <%= form.collection_select :race_id, @races, :id, :name, include_blank: true %>
</div>
<div class="form_field">
  <%= form.label :gender %>
  <%= form.collection_select :gender, Character::GENDER, :to_s, :to_s, include_blank: true %>
</div>
<div class="form_field">
  <%= form.label :age %>
  <%= form.text_field :age %>
</div>
<div class="form_field">
  <%= form.label :ethercraft %>
  <%= form.collection_select :ethercraft_id, @ethercrafts, :id, :name, include_blank: true %>
</div>
<div class="form_field">
  <%= form.label :birthplace, "Place of Birth" %>
  <%= form.collection_select :birthplace_id, @birthplaces, :id, :name, include_blank: true %>
</div>
<%= form.submit "Submit Character" %>
