<h4>New Character</h4>
<ul>
  <div class="form">
    <%= form_for @character do |form| %>
    <div class="form_field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="form_field">
      <%= form.label :race %>
      <%= form.text_field :race %>
    </div>
    <div class="form_field">
      <%= form.label :gender %>
      <%= form.text_field :gender %>
    </div>
    <div class="form_field">
      <%= form.label :age %>
      <%= form.text_field :age %>
    </div>
    <div class="form_field">
      <%= form.label :ethercraft %>
      <%= form.text_field :ethercraft %>
    </div>
    <div class="form_field">
      <%= form.label :birthplace, "Place of Birth" %>
      <%= form.text_field :birthplace %>
    </div>

    <%= form.submit "Submit Character" %>
    <% end %>
  </div>

</ul>
