<div class="character_name">
  <h3><strong><%= @character.name %></strong></h3>
  (<%= link_to "Edit", [:edit, @character] %>)
</div>

<div class="character_image">
  <%= image_tag @character.image.thumb.url %>
</div>

<div class="character_details">
  <ul><strong>
    <li>Race: <%= @character.race.name %></li>
    <li>Gender: <%= @character.gender %></li>
    <li>Age: <%= @character.age %></li>
    <li>Ethercraft: <%= @character.ethercraft.name %></li>
    <li>Place of Birth: <%= @character.birthplace %></li>
  </strong></ul>
</div>
