<h3><strong><%= @character.name %></strong></h3>
<ul>
  <li><strong>Race:</strong> <%=@character.race %></li>
  <li><strong>Gender:</strong> <%=@character.gender %></li>
  <li><strong>Age:</strong> <%=@character.age %></li>
  <li><strong>Ethercraft:</strong> <%=@character.ethercraft %></li>
  <li><strong>Place of Birth:</strong> <%=@character.birthplace %></li>
</ul>
