<div class="form_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="form_field">
  <%= form.label :region %>
  <%= form.text_field :region %>
<div class="form_field">
  <%= form.label :history %>
  <%= form.text_area :history %>
</div>
<%= form.submit "Submit region" %>
