<div class="form_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="form_field">
  <%= form.label :country %>
  <%= form.collection_select :country_id, @countries, :id, :name, include_blank: true %>
<div class="form_field">
  <%= form.label :history %>
  <%= form.text_area :history %>
</div>
<%= form.submit "Submit region" %>
