<div class="form_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="form_field">
  <%= form.label :country %>
  <%= form.collection_select :country_id, @countries, :id, :name, include_blank: true %>
</div>
<div class="form_field">
  <%= form.label :region %>
  <%= form.collection_select :region_id, @regions, :id, :name, include_blank: true %>
</div>
<div class="form_field">
  <%= form.label :history %>
  <%= form.text_area :history %>
</div>
<%= form.submit "Submit Location" %>
