<!DOCTYPE html>
<html>
<head>
  <title>Ardorgen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="header">
  <div class="site_title">
    <%= link_to "Ardorgen", root_path %>
    <%= link_to "Ethercrafts", ethercrafts_path %>
  </div>
</div>
<div class="yield">
  <%= yield %>
</div>

</body>
</html>
