<!DOCTYPE html>
<html>
<head>
  <title>Ardorgen</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script>
    window.ETHERCRAFT = <%= raw @ethercrafts.to_json %>
    window.RACE = <%= raw @races.to_json %>
  </script>

</head>
<body>
<div class="header">
  <div class="site_title">
    <%= link_to "Ardorgen", root_path %> |
    <%= link_to "Characters", characters_path %> |
    <%= link_to "Ethercrafts", ethercrafts_path %> |
    <%= link_to "Races", races_path %> |
    <%= link_to "Countries", countries_path %> |
    <%= link_to "Regions", regions_path %> |
    <%= link_to "Places", places_path %> |
  </div>

  <div class="user_header">
    <% if @current_user %>
      <%= link_to "Sign Out", sign_out_path, method: "delete" %> |
      <%= "Signed in as " + current_user.name %> |
    <% else %>
      <%= link_to "Sign In", sign_in_path %> |
      <%= link_to "Sign Up", sign_up_path %> |
    <% end %>
  </div>

</div>

<div class="yield">
  <%= yield %>
</div>

</body>
</html>
